# Frontend Environment
# Copy this file to .env and fill in your values

API_BASE_URL=https://saknew-market-backend-f8738ecec7fa.herokuapp.com/
IMAGE_BASE_URL=https://saknew-market-backend-f8738ecec7fa.herokuapp.com
SERVER_IP=saknew-market-backend-f8738ecec7fa.herokuapp.com
SERVER_PORT=443
DEBUG=false
APP_ENV=production
